body {
    font-family: Arial;
    background-color:green;
    margin-top: 75px;
}
.center{
    content: center;
}
.p{
     color: grey;
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}
.tags{
    font-weight:bold;
    font-size:200%;
    text-align: center;
    color: grey;
}

